* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;

    background-image: url("space cat.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#Heading {
    height: 10vh;
    color: Magenta;
    text-align: center;
    background-image: url("Thrones.jpg");
    background-size: cover;
    background-position: center 35%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pics {
    display: none;
    position: absolute; 
    left: 50%;  
    transform: translateX(-50%);
    z-index: 10;
}

#Buttons {
    float: right;
}

#timestamp {
    position: absolute;
    bottom: 10px;
    right: 3px;
}

p {
    color: crimson;
}

